name: Keep Render Alive
on:
  schedule:
    - cron: '*/14 * * * *' # Every 14 minutes
jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Server
        run: curl https://oms-backend-pyq9.onrender.com/actuator/health